---
- name: Check that CONSUL exists
  stat:
    path: "{{ consul_dir }}"
  register: consul_repo

- name: Get current timestamp
  shell: "date -u +%Y%m%d%H%M%S"
  register: current_timestamp
  when: consul_repo.stat.exists == False

- when: consul_repo.stat.exists == False
  vars:
    first_release_dir: "{{ consul_dir }}/releases/{{ current_timestamp.stdout }}"
  block:
    - name: Git clone CONSUL
      shell: "git clone --mirror https://github.com/consul/consul.git {{ consul_dir }}/repo"

    - name: Create first release folder
      file:
        path: "{{ first_release_dir }}"
        state: directory

    - name: Create first release
      shell: "git archive master | /usr/bin/env tar -x -f - -C {{ first_release_dir }}"
      args:
        chdir: "{{ consul_dir }}/repo"

    - name: Add symbolic link for current release folder
      file:
        state: "link"
        src: "{{ first_release_dir }}"
        dest: "{{ release_dir }}"

- name: Create shared folder
  file:
    path: "{{ shared_dir }}"
    state: directory

- name: Create shared folders
  file:
    path: "{{ shared_dir }}/{{ item }}"
    state: directory
  with_items: "{{ shared_dirs }}"

- name: Remove log folder
  file:
    path: "{{ release_dir }}/log"
    state: absent

- name: Link shared folders
  file:
    state: "link"
    src: "{{ shared_dir }}/{{ item }}"
    dest: "{{ release_dir }}/{{ item }}"
  with_items: "{{ shared_dirs }}"

- name: Create shared config folder
  file:
    path: "{{ shared_dir }}/config"
    state: directory

- name: Create shared public folder
  file:
    path: "{{ shared_dir }}/public"
    state: directory

- name: Create shared public folders
  file:
    path: "{{ shared_dir }}/public/{{ item }}"
    state: directory
  with_items: "{{ shared_public_dirs }}"

- name: Link shared public folders
  file:
    state: "link"
    src: "{{ shared_dir }}/public/{{ item }}"
    dest: "{{ release_dir }}/public/{{ item }}"
  with_items: "{{ shared_public_dirs }}"
