upstream app {
  server unix:{{ shared_dir }}/tmp/sockets/puma.sock fail_timeout=0;
}

server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root {{ release_dir }}/public;

  server_name {{ server_hostname }};

  client_max_body_size 32M;

  {% if domain is defined or lookup('env', 'CI') %}

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    if ($ssl_protocol = "") {
      rewrite ^   https://$server_name$request_uri? permanent;
    }

  {% endif %}

  try_files $uri/index.html $uri @app;
  location @app {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app;
  }
}
