[Unit]
Description=Puma HTTP Server for {{ app_name }} ({{ env }})
After=network.target

[Service]
Type=simple
WorkingDirectory={{ release_dir }}
ExecStart=fnm exec bundle exec --keep-file-descriptors puma -C {{ puma_config_file }}
ExecReload=/bin/kill -USR1 $MAINPID
StandardOutput=append:{{ puma_access_log }}
StandardError=append:{{ puma_error_log }}
Restart=always
RestartSec=1
SyslogIdentifier=puma

[Install]
WantedBy=default.target
